# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.next/
out/

# Misc
.DS_Store
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Turborepo
.turbo/

# Package manager
yarn.lock
package-lock.json
pnpm-lock.yaml
